body{
  background: #FFF8DC;
}

/* Header*/
#header {
  height: 180px;
  text-align: center;
  font-family: Verdana;
  font-size: 25px;
  background: url("https://github.com/Mirogenex/JanHeikkila/blob/master/images/Shinterra.png?raw=true") no-repeat top;
  background-size: 350px 200px;
  background-color: black;
  color: red;
  }
.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
   
#intro{
    margin: auto;
    border: 5px solid gray;
    padding: 10px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}
p {
    text-align: justify;
    letter-spacing: 2px;
}
ul {
    padding: 10px 10px;
    background: #fff0b3;
    border: 3px solid gray;
    margin-right: 40cm;
    }
ul li {
    margin: 15px auto auto 0.5cm;
    background: #fff5cc;
    }
ul li:first-child {
    margin: 0px auto auto 0.5cm; 
 }
#games{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}
#games td, #games th{
  border: 1px solid gray;
  padding: 5px;
}

#games tr:nth-child(even) {
  background-color: #fff5cc;
}

#games tr:nth-child(odd) {
  background-color: #fff0b3;
}

#games tr:hover {
  background-color: #fffae6;
}

#games th{
      padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cca300;
    color: #f2f2f2;
}




    



