/* Header*/
#header {
  height: 242px;
  text-align: center;
  font-family: Verdana;
  bacground-color: black;
  color: red;
  }

#intro{
    margin: auto;
    border: 5px solid gray;
    padding: 10px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}
p {
    text-align: justify;
    letter-spacing: 2px;
}
ul {
    padding: 0;
    border: 3px solid gray;
    }
ul li {
    padding: 10px 12px;
    border-bottom: 3px solid gray;
    }
ul li:last-child {
    border-bottom: none
    }
    



